@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


@font-face {
	font-family: 'Blacker-Text-Bold-trial';
	src: url('../fonts/Blacker-Text-Bold-trial.eot');
	src: url('../fonts/Blacker-Text-Bold-trial.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Blacker-Text-Bold-trial.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BlackerText-Bold';
	src: url('../fonts/BlackerText-Bold.ttf') format('truetype'),
	url('../fonts/BlackerText-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Blacker-Text-Heavy-trial';
	src: url('../fonts/Blacker-Text-Heavy-trial.eot');
	src: url('../fonts/Blacker-Text-Heavy-trial.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Blacker-Text-Heavy-trial.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BlackerText-Heavy';
	src: url('../fonts/BlackerText-Heavy.ttf') format('truetype'),
	url('../fonts/BlackerText-Heavy.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Blacker-Text-Regular-trial';
	src: url('../fonts/Blacker-Text-Regular-trial.eot');
	src: url('../fonts/Blacker-Text-Regular-trial.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Blacker-Text-Regular-trial.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BlackerText-Regular';
	src: url('../fonts/BlackerText-Regular.ttf') format('truetype'),
	url('../fonts/BlackerText-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: 'Noto Sans KR','Apple SD Gothic', sans-serif !important;
}

.blacker-heavy{
	font-family: 'BlackerText-Heavy';
}

.blacker-regular{
	font-family: 'BlackerText-Regular';
}

a:hover{
	text-decoration:none;
}

.va-middle{
	vertical-align: middle;
}

.container-fluid{
	max-width:1920px !important; 
}

.footer-wrap{
	border-top:1px solid #e6e6e6;
	height:110px;
	text-align:center;
}

.footer-center{
	width:600px;
	margin:0 auto;
	display:inline-block;
	padding-top:32px;
}

.footer-right{
	width:300px;
}

.footer-company{
	font-size:12px;
	text-align:left;
	padding-top:20px;
}

#footer-logo{
	margin-top:40px;
}

#footer-payment{
	margin-top:19px;
}

#footer-copyright{
	font-size:14px;
	color:#555;
	margin-bottom:0;
}

#footer-list{
	margin-bottom:8px;
}

#footer-list li{
	display:inline-block;
	margin-left:25px;
	margin-right:25px;
}



#footer-list li a{
	font-size:15px;
	color:#111;
	font-weight:500;
}

#footer-list li a:hover{
	color:#111;
}

.logo{
	margin-top:20px;
}

.logo img{

}



.gnb-wrap{
	border-bottom:1px solid #1d1d1d;
}

.banner-img{
	width:100%;
}

.mt80{
	margin-top:80px;
}

.mb0{
	margin-bottom:0;
}

.f16{
	font-size:16px !important;
}

.color-white{
	color:white !important;
}

input#share-input-url{
	width:0; height:0;
	border:none;
	padding:0;
}

.mx0{
	margin-left:0;
	margin-right:0;
}

.btn-gold{
	background:#1d1d1d;
	border-radius:2px;
	border-color:#1d1d1d;
	color:#fff;
	font-size:12px;
}

.btn-gold:hover{
	color:#FFF;
}

.btn-gold-white{
	border:1px solid #1d1d1d;
	border-radius:2px;
	color:#1d1d1d;
	font-size:12px;
	padding:5px 9px;
}

.btn-gold-white:hover{
	color:#1d1d1d;
}

.btn-gray{
	border-radius: 2px;
  background-color: #4e4e4e;
  color:#fff !important;
  font-size:13px;
  font-weight:400;
}

.label-small-gold{
	color:white;
	border-radius:2px;
	background:#1d1d1d;
	padding:3px 5px;
	font-size:10px;
}

.normal-btn{
	font-size: 10px;
  font-weight: 500;
	border-radius: 2px;
  border: solid 1px #dedede;
  color: #979797;
}

.btn-twitter{
	background:#1da1f2;
	border-color:#1da1f2;
}

.btn-facebook{
	background:#3b5998;
	border-color:#3b5998;
}

.normal-btn:hover{
  color: #979797;
}


.logo-text-small{
	font-size:18px;
	font-weight:200;
	
}

#forgot-password{
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.16px;
	color: #8a8a8a;
	text-decoration:underline;
}

#forgot-password:hover{
	text-decoration:underline;
	color:#8a8a8a;
}

.logo-text2{
	font-size:24px;
	font-weight:500;
	line-height:normal;
	letter-spacing: -0.18px;
	color:#5a1313;
	padding:20px 0px;
	margin-bottom:0px;
}



.logo-text2-small{
	font-size:18px;
	font-weight:200;
	color:#5a1313;
	letter-spacing: -0.14px;
}

.form-control2{
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
	box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.1);
	background-color: #f8f8f8;
    background-clip: padding-box;
    border-radius: 2px;
    border:none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.main-btn-send{
	border:none;
	border-radius:2px;
	background-color:#1d1d1d;
	font-size:17px;
	font-weight:500;
	letter-spacing:-0.24px;
	color:#fff;
	padding:14px 90px;
}

.main-contact-us{
	font-size:40px;
	font-weight:500;
	letter-spacing:-0.57px;
	color:#111;
}

.main-contact-us-content{
	letter-spacing:-0.29px;
	line-height:1.5;
	font-weight:normal;
	font-size:20px;
	color:#555;
}

.tdc-none:hover{
	text-decoration:none;
}

label.main-contact-label{
	font-size:15px;
	letter-spacing:-0.21px;
	color:#9b9b9b;
	font-weight:400;
}


.main-text{
	text-transform: uppercase;
	width:100%;
	text-align:center;
	font-size:50px;
	font-weight:500;
	letter-spacing:-0.38px;
	color:#1d1d1d;
}

.main-text-small{
	
	font-size:50px;
	font-weight:200;
	letter-spacing:-0.38px;
	color:#fff;
}

.main-text-content{
	width:100%;
	text-align:center;
	font-size:20px;
	font-weight:300;
	letter-spacing:-0.18px;
	color:#fff;
}

/*
.main-banner-1{
	background:url("../img/main_bg.jpg");
	min-height:1080px;
	background-size:cover;
}
*/

#main-righters-list{
	text-align:center;
	margin-top:60px;
}
#main-righters-list li{
	display:inline-block;
	margin-left:30px;
}

#main-righters-list li:first-child{
	margin-left:0px;
}

#main-step-list{
	text-align:center;
	margin-top:120px;
}
#main-step-list li{
	display:inline-block;
	margin-left:100px;
	vertical-align: top;
}

#main-step-list li:first-child{
	margin-left:0px;
}

.main-banner-1{
	padding:165px 0px;
	background:white;
}

.main-banner-2{

}

.main-banner-3{
	padding-top:120px;
	padding-bottom:120px;
}

.main-banner-text{
	font-size: 40px;
	font-weight: 500;
	color: #1d1d1d;
}

.main-banner-text-small{
	font-size: 24px;
	font-weight: 300;
	color: #110100;
}

.main-banner-3-text{
	padding-top:400px;
	font-size: 40px;
	font-weight: 500;
	color: #FFF;
	text-align: center;
}

.main-banner-3-text-small{
	font-size: 24px;
	font-weight: 300;
	color: #FFF;
	text-align: center;
}

.main-banner-4{

}

.main-icon-title{
	font-size: 28px;
  font-weight: 500;
  color: #111111;
  text-align: center;
  padding:20px 0px;
      margin-bottom:0;
}

.main-icon-text{
	font-size: 15px;
  font-weight: 300;
  color: #1c1c1c;
    text-align: center;
    padding:25px 0px;

}

hr.main-icon-hr{
	width:40px;
	border-top: 4px solid #1d1d1d;
	margin:0 auto;
}
ul.list-inline-block li{
	display:inline-block;
}

.index-menu-zindex{
	z-index:1000;
}

.main-banner{
	margin-top:-80px;
}

.main-banner div.item img{

}


#gnb{
	margin-bottom:0px;
}

#gnb li{
	display:inline-block;
	padding:28px 16px;
}

#gnb li:last-child{
	padding:28px 0px 28px 16px;
}

#gnb li a{
	font-size:14px;
	color:#1D1D1D;
	font-weight:normal;
	font-family:'BlackerText-Regular'
}

#gnb li a:hover{
	text-decoration:none;
}

#gnb li.active{
	border-bottom:4px solid #1d1d1d;
}

#gnb li.active a{
	font-family:'BlackerText-Heavy';
}


#gnb2{
	margin-bottom:0px;
}

#gnb2 li{
	display:inline-block;
	padding:28px 16px;
}

#gnb2 li:last-child{
	padding:28px 0px 28px 16px;
}

#gnb2 li a{
	font-size:14px;
	color:#111;
	font-weight:normal;
}

#gnb2 li a.active{
	color:#e39a6d;
}

#gnb2 li a:hover{
	text-decoration:none;
}

.carousel-test{
	min-height:400px;
	
}

#carousel-1 h2{
	padding-top:100px;
	color:white;
}

#carousel-1{
	background:#333;
}

#carousel-2 h2{
	padding-top:100px;
	color:white;
}

#carousel-2{
	background:#757575;
}

#carousel-3 h2{
	padding-top:100px;
	color:white;
}

#carousel-3{
	background:#0d0d0d;
}

.main-bg{
	background:url("../img/main_bg_2.png");
	min-height:1080px;
}


.border-circle{
	background: #000;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    color: #FFF;
    text-align: center;
}

.search-bar{
	border-radius:2px;
	border:solid 2px #1d1d1d;
	border-right:none;
	height:40px;
	min-width:230px;
	padding-left:10px;
	color:#1d1d1d;
	font-size:15px;
    font-weight:500;
}

.search-bar-wrap{
	margin-top:10px;
	padding-bottom:10px;
}

.search-bar::placeholder{
	color:#1d1d1d;
}

.search-bar:focus{
	outline:none;
}

.search-but{
	background:#1d1d1d;
		border:solid 2px #1d1d1d;
	border-left:none;
	height:40px;
}

.impact-wrap{
	padding:130px 0px;
}

.impact-line{
	width:110px;
}

.impact-title{
	padding-top:40px;
	font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.37px;
  color: #111111;
}

.impact-text{
	font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #4a4a4a;
}

.impact-menu li{
	  padding:8px 0px;
}

.impact-menu li:first-child{
	padding:16px 0px 8px 0px;
}

.impact-menu li a{
	font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.52px;
  color: #555555;
	font-family : 'BlackerText-Regular'
}

.impact-menu li a.active{
	font-family : 'BlackerText-Heavy'
}

.shop-no-data-wrap{
	padding-top:120px;
}

.shop-no-data-title{
	font-size: 17px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.24px;
	color: #c2c2c2;
	margin-top:20px;
	text-align:center;
}

.shop-gnb{
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.shop-category-lnb{
	margin-bottom:0px;
}

.shop-category-lnb li{
	padding:14px 0px;
	padding-left:17px;
	padding-right:17px;
}

.shop-category-lnb li:first-child{
	padding-left:0px;
}

.shop-category-lnb li a{
	font-weight:normal;
	font-size:15px;
	color:#555;
}

.shop-category-lnb li a.active{
	color:#1d1d1d;
}

.shop-category-lnb li:last-child a{
	border-right:none;	
}

.shop-category-title{
	letter-spacing: -0.53px;
	font-size:17px;
	color:#1d1d1d;
	font-weight:500;
}

.shop-category-list li a{
	font-size:15px;
	letter-spacing:-0.52px;
	color:#555;
}

.shop-category-list li a.active{
	color:#1d1d1d;
}

.shop-sub-menu li{
	display:inline-block;
	padding:0px 17px;
}

.shop-sub-menu li:first-child{
	padding-left:0;
}

.shop-sub-menu li a{
	color:#b2b2b2;
	font-weight:normal;
	font-size:15px;
	letter-spacing:-0.12px;
	padding-bottom:5px;
}

.shop-sub-menu li a:hover{
	text-decoration:none;
}

.shop-sub-menu li a.active{
	color:#555;
	letter-spacing : -0.12px;
	font-size:15px;
	border-bottom:1px solid #1d1d1d;
}



.shop-clear-but{
	margin-left:20px;
}
.shop-clear-but:hover{
	cursor:pointer;
}

hr.shop-category-hr-gold{
	margin-left:0;
	margin-top:0;
	width:70%;
	border-top:1px solid #1d1d1d;
}

hr.shop-category-hr-gray{
	margin-left:0;
	width:70%;
	border-top:1px solid #ededed;	
}

hr.order-summary-line{
	border-top: solid 1px #e8e8e8;
}

.shop-item-title{
	font-size:17px;
	letter-spacing: -0.24px;
	color:#111;
	font-weight:500;
	margin-bottom:0;
	margin-top:10px;
}
.shop-item-subtitle{
	font-size: 14px;
	color:#505050;
	font-weight:normal;
	margin-bottom:0;
	margin-top:3px;
}

.shop-item-price{
	font-size:15px;
	font-weight:600;
	letter-spacing: -0.21px;
	color:#111;
	margin-top:20px;
	margin-bottom:0px;
}

.shop-item-real-price{
	font-size:13px;
	color:#505050;
	margin-top:3px;
}

.shop-item-real-price-off{
	color:#5c6bd7;
}

.shop-item-but-wrap{
	margin-top:20px;
}

.shop-item-type{
	margin-bottom:0px;
}

.shop-item-type span{
	border-radius:2px;
	background-color:rgba(255, 30, 98, 0.06);
	padding:5px 7px;
	color:#ff1e62;
	font-size:12px;
	font-weight:normal;
}

.btn-shop-cart{
	background-color:#1d1d1d;
	color:white;
	font-size:13px;
	font-weight:500;
	padding:8px 10px;
	border:1px solid rgba(0,0,0,0);
}

.btn_wishlist_active{
	background-color: #FFF;
	border: 1px solid #d7d7d7;
	font-size: 13px;
	font-weight: 500;
	color: #bababa;
}

.btn-shop-share{
	color:#1d1d1d;
	border: 1px solid #1d1d1d;
}

hr.shop-content-gold-line{
	border-top:solid 2px #1d1d1d;
	margin:0;
}

hr.shop-content-gray-line{
	border-top: solid 1px #eaeaea;
}

.shop-content-title{
	padding:20px 0px 10px 0px;
	font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.37px;
  color: #5a1313;
	margin-bottom:0;	
}

.shop-content-price{
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.31px;
  color: #111111;
}

.shop-content-text{
	font-size: 15px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #111;
}

.shop-content-description{
	font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #111;
}

.shop-content-off{
	font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5c6bd7;
}

#shop-content-buy-but{
	background:#1d1d1d;
	border-radius:2px;
	font-size: 16px;
  font-weight: 500;
  color:#fff;
  padding:12px;
  border:0;
}


#shop-content-cart-but{
	border-radius: 2px;
  border: solid 1px #1d1d1d;
  font-size: 16px;
  font-weight: 500;
  color: #1d1d1d;
  padding:12px;
}

.shop-content-share-title{
	font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.26px;
  color: #5a1313;
}

.shop-content-share-subtitle{
	font-family: Montserrat;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.21px;
  color: #111111;
}

.shop-content-tab-item{
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #b2b2b2;
border:none !important;
margin-bottom:0;
}

.shop-content-tab-item:hover{
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.3px;
	color: #b2b2b2;
	border:none;
	margin-bottom:0;
}

.shop-content-tab-item.active{
	font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #111111;
  border:none;
  margin-bottom:0;
}

#shop-content-tab .nav-item{
	margin-bottom:0;
}

#shop-content-tab{
	border:none;
	border-bottom:1px solid #1d1d1d;
}



#notice-tabs{
	border-bottom:1px solid #1d1d1d;
}

#notice-tab{
	font-size: 18px;
	font-weight:normal;
	border:1px solid transparent;
	background:transparent;
}

#notice-tab:hover{
	border:1px solid transparent;
}

#faq-tab{
	font-size: 18px;
	font-weight:normal;
	border:1px solid transparent;
	background:transparent;
}

#faq-tab:hover{
	border:1px solid transparent;
}

.check-out-success-wrap{
	width:480px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.check-out-success-title{
	font-size: 26px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.37px;
	color: #80e16f;
	margin-top:30px;
}

.check-out-fail-title{
	font-size: 26px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.37px;
	color: #e99a7c;
	margin-top:30px;
}

.return-to-cart-btn{
	width: 440px;
	border-radius: 2px;
	background-color: #1d1d1d;
	font-size: 16px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.21px;
	color: #ffffff;
	display:block;
	margin: 0 auto;
	margin-top:100px;
}

.return-to-cart-btn:hover{
	color:#fff;
}

.notice-link.active{
	font-size: 18px;
  font-weight: 600 !important;
  letter-spacing: -0.26px;
  color: #111111 !important;
}

#paypal-button-container{
	margin-top:10px;
}

a.notice-link{
	color:#b2b2b2;
	letter-spacing: -0.26px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion2 {
	border:none;
	width: 100%;
	padding: 18px 10px;
	border-bottom:solid 1px #ebebeb;
	background:#FFF;
	font-size:15px;
	font-weight:500;
	color:#111111;
	letter-spacing:-0.2px;
	text-align:left;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion2.active, .accordion2:hover {
	border:none;
	background:#f8f8f8;
	font-size:15px;
	font-weight:500;
	color:#111111;
	letter-spacing:-0.2px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
	padding:20px 24px;
	font-size:14px;
	font-weight:400;
	letter-spacing: -0.2px;
	color: #4a4a4a;
	border-bottom:solid 1px #ebebeb;
	display: none;
}

.accordion .ui-state-default{
	border:none;
	border-bottom:solid 1px #ebebeb;
	background:#FFF;
	font-size:15px;
	font-weight:500;
	color:#111111;
	letter-spacing:-0.2px;
}

.accordion .ui-state-active{
	border:none;
	background:#f8f8f8;
	font-size:15px;
	font-weight:500;
	color:#111111;
	letter-spacing:-0.2px;
}

.accordion .ui-accordion-header{
	padding: 18px 10px;
	margin:0;
}

.accordion .ui-accordion-header:focus{
	outline:none;
}

.accordion .ui-widget-content{
	border:none;
}

.accordion{
	font-family: inherit;
}

.accordion .ui-accordion-content{
	padding:20px 24px;
	font-size:14px;
	font-weight:400;
	letter-spacing: -0.2px;
  color: #4a4a4a;
  border-bottom:solid 1px #ebebeb;
}

.mypage-wrap{
	width:1080px;
	margin:0 auto;
	margin-top:80px;
}

.mypage-item-title{
	font-size:18px;
	font-weight:500;
	letter-spacing:-0.3px;
	color:#111;
	margin-bottom:0.75rem;
}

.upload-btn{
	border-radius: 3px;
  background-color: #1d1d1d;
  color:#FFF;
  font-size:13px;
  font-weight:500;
  letter-spacing: -0.17px;
  padding:5px 7px;
}

.upload-btn:hover{
	text-decoration:none;
	color:#FFF;
}

hr.mypage-gold-line{
	margin:0;
	border-top:1px solid #1d1d1d;
}

hr.gold-line{
	margin:0;
	border-top:1px solid #1d1d1d;
}

hr.gray-line{
	margin:0;
	border-top:1px solid #eaeaea;
}

hr.mypage-gray-line{
	margin:0;
	border-top:1px solid #eaeaea;
}

.mypage-right-grayline{
	border-right:1px solid #eaeaea;
}

input.form-mypage{
	border:1px solid #eaeaea;
	border-radius:0;
	font-size:12px;
	padding:20px 10px;
}

.mypage-label{
	font-size:14px;
	color:#505050;
	letter-spacing:-0.19px;
	font-weight:400;
}

#mypage-edit-but{
	background:#969696;
	color:#FFF;
	font-size:16px;
	font-weight:500;
	padding:12px 80px;
	vertical-align:baseline;
	border:1px solid transparent;

}

#mypage-save-but, #mypage-donate-but{
	background:#1d1d1d;
	color:#FFF;
	font-size:16px;
	font-weight:500;
	padding:12px 80px;
	vertical-align:baseline;
	border:1px solid transparent;
}

#mypage-logout-but{
	background:#FFF;
	border:1px solid #d7d7d7;
	font-size:16px;
	font-weight:500;
	color:#bababa;
	padding:12px 20px;	
}

.mypage-info-item-title{
	text-align:center;
	color:#000;
	font-size:14px;
	font-weight:400;
}

.mypage-info-but{
	text-align:center;
	display:block;
	margin-left:30px;
	margin-right:30px;
}

.cart-title{
	font-size:18px;
	font-weight:600;
	letter-spacing:-0.26px;
	color:#111;
}

.cart-wrap{
	width:1020px;
	margin:0 auto;
}

.mt80{
	margin-top:80px;
}

.cart-table{
	margin-bottom:0;
}

.cart-table tr{
	border-bottom:1px solid #ebebeb;
}

.cart-table tr td{
	vertical-align: middle;
}

.cart-table tr td:first-child{
	width:100px;
	padding:20px;
}

.cart-table tr td:nth-child(2){
	width:550px;
}

.cart-amount{
	font-size: 17px;
  font-weight: 600;
  margin:0;
}

.cart-subtotal{
	font-size: 15px;
  font-weight: normal;
  color:#111;
  text-align:right;
  
}

.cart-subtotal span{
    vertical-align: middle;
}

.cart-total-item{
	font-size: 15px;
  font-weight: 500;
  color:#8e8e8e;
}

.cart-total-amount{
	font-size: 20px;
  font-weight: bold;
  color:#111;
}


.cart-qty{
	font-size: 14px;
	color: #505050;
}

.cart-qty-input{
	width:90px;
	text-align:center;
	color:#111;
	font-weight:500;
	border-radius:2px;
	border: 1px solid #e0e0e0;
	margin-left:15px;
	font-size:14px;
	padding-left:10px;
}


.cart-delete-btn{
	font-size: 13px;
  font-weight: 500;
	border-radius: 2px;
  border: solid 1px #dedede;
  color: #979797;
}

.cart-wishlist-btn{
	border-radius: 2px;
  background-color: #1d1d1d;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  border: solid 1px #1d1d1d;
  padding: 2px 7px 4px;
}

.cart-wishlist-btn:hover{
	color:#fff;
}





.cart-product-title{
	font-size: 15px;
  font-weight: 500;
  color: #111111;
  margin-bottom:0;
}

.cart-product-subtitle{
	font-size: 13px;
  font-weight: normal;
  color: #505050;
}

.cart-checkout-btn{
	font-size: 16px;
  font-weight: 500;
  color:#FFF;
  padding:12px 80px;
  background-color: #1d1d1d;
  border:none;
  float:right;
  margin-top:130px;
  text-align:center;
}

.cart-checkout-btn:hover{
	color:#FFF;
}


.checkout-wrap{
	width:1020px;
	margin:0 auto;
}

.checkout-item-title{
	font-size:18px;
	font-weight:500;
	letter-spacing:-0.3px;
	color:#111;
	margin-bottom:0.75rem;
}

input.form-checkout{
	border:1px solid #eaeaea;
	border-radius:0;
	font-size:12px;
	padding:20px 10px;
}

textarea.form-checkout{
	border:1px solid #eaeaea;
	border-radius:0;
	font-size:12px;
	padding:10px 10px;
}

select.form-checkout{
	font-size:12px;
}

label.label-checkout{
	font-size:12px;
	font-weight:600;
}

.checkout-shipping-free{
	height:24px;
	background:#fff;
	border-radius:14px;
	padding:3px 14px;
	font-size: 14px;
	  font-weight: 400;
	color: #979797;
  border: solid 1px #c8c8c8;
	  
}

.checkout-shipping-amount{
	height:24px;
	background:#fff;
	border-radius:14px;
	padding:3px 14px;
	font-size: 14px;
	  font-weight: 400;
	  color:#1d1d1d;;
	  border: solid 1px #1d1d1d;
	  	  
}

.checkout-shipping-title{
	font-size:15px;
	font-weight:600;
	color:#111;
}

.checkout-shipping-item-title{
	font-size:14px;
	font-weight:500;
	color:#111;
}

.checkout-shipping-item-subtitle{
	font-size:13px;
	font-weight:400;
	color:#505050;
}

.order-summary{
  background:rgba(230, 197, 164, 0.21);
}

.order-amount{
	font-size: 17px;
  font-weight: 600;
  color: #111111;
  margin-bottom:0;
  text-align:right;
}

.orders-list-wrap{
	border: solid 1px #e6c5a4;
	margin-top:10px;
}

.order-list-title-wrap{
	background:rgba(230, 197, 164, 0.21);
}

.order-amount-total{
	font-size: 20px;
  font-weight: 600;
  color:#111;
  margin-bottom:0;
  text-align:right;
}

.order-list-title{
	font-size:15px;
	color:#111;
	margin-bottom:5px;
}

.order-list-subtitle{
	font-size: 16px;
  font-weight: 600;
  color:#111;
  margin-bottom:0;
}

.order-qty{
	display:inline-block;
	border-radius: 2px;
  	border: solid 1px #e4e4e4;
  	padding:10px 24px 10px 12px;
  	font-size: 12px;
  	line-height: normal;
  font-weight: normal;
  color:#505050;
}


#checkout-placeorder-but{
	font-size: 16px;
  font-weight: 500;
  color:#fff;
  border-radius: 2px;
  background-color: #1d1d1d;
  border:0;
  padding:10px 0px;
}


.linked-wrap{
	width:1020px;
	margin:0 auto;
}

.linked-title{
	font-size:18px;
	font-weight:600;
	letter-spacing:-0.26px;
	color:#111;
}

.linked-subtitle{
	font-size: 15px;
  font-weight: 500;
	letter-spacing:-0.26px;
	color:#111;
}

.linked-list-title{
	font-size:15px;
	color:#111;
	margin-bottom:5px;
}

.linked-list-subtitle{
	font-size: 16px;
  font-weight: 600;
  color:#111;
  margin-bottom:0;
}

.linked-list-center{
	text-align:center;
}

.linked-list-right{
	text-align:right;
}

.linked-list-wrap{
	padding:20px;
	border-bottom:1px solid #ebebeb;
}

.linked-table td{
	border-top:none;
}

.linked-table tr{
	border-bottom:1px solid #ebebeb;
}

.linked-table tr td{
	vertical-align: middle;
}

.linked-table tr td:first-child{
	width:110px;
	padding:20px;
}

.linked-table-title{
	font-size: 15px;
  font-weight: 500;
  color: #111111;
  margin-bottom:0;
}

.linked-table-subtitle{
	font-size: 13px;
  font-weight: normal;
  color: #505050;
}

.linked-amount{
	font-size: 17px;
  font-weight: 600;
  margin:0;
  text-align:right;
}

.linked-td-fee{
	vertical-align: bottom !important;
}

.linked-donation-fee-title{
	font-size: 14px;
  font-weight: normal;
  color: #505050;
  text-align:right;
}

.linked-donation-fee{
	font-size: 15px;
  font-weight: 500;
  color: #5a1313;
}

.donor-label{
	display:block;
	font-size: 14px;
  font-weight: 500;
  color:#111;
  padding:10px 0px;
}

#donation-donate-but{
	background:#1d1d1d;
	border-radius:2px;
	font-size: 16px;
  font-weight: 500;
  color:#fff;
  padding:12px;
  border:0;
}

.donation-item-title{
	font-size:18px;
	font-weight:500;
	letter-spacing:-0.3px;
	color:#111;
	margin-bottom:0.75rem;
}

.donation-history-table-title{
	font-size: 13px;
  font-weight: 500;
  color:#111;
  margin-bottom:0;
}

.donation-history-table-subtitle{
	font-size: 12px;
	color: #505050;
	  margin-bottom:0;
}

.donation-history-table td{
	border-top:none;
	padding: .5rem;
}

.donation-history-table tr{
	border-bottom:1px solid #ebebeb;
}

.donation-history-table tr td{
	vertical-align: middle;
}

.donation-history-table-amount{
	font-size: 13px;
  font-weight: 600;
  color:#111;
  text-align:right;
  margin-bottom:0;
}

#donation-receipt-but{
	font-size: 12px;
  font-weight: normal;
	padding:6px 16px;
	border-radius: 2px;
  border: solid 1px #e0e0e0;
  background-color: #fafafa;
  color:#111;
}

.signup-item-title{
	font-size:18px;
	font-weight:500;
	letter-spacing:-0.3px;
	color:#111;
	margin-bottom:0.75rem;
}

.signup-label{
	font-size: 14px;
	color: #505050;
}

#signup-account-but, #find-password-continue-but{
	background:#1d1d1d;
	border-radius:2px;
	font-size: 16px;
  font-weight: 500;
  color:#fff;
  padding:12px;
  border:0;
}


#signup-facebook-but{
	background:#3760af;
	border-radius:2px;
	font-size: 16px;
  font-weight: 500;
  color:#fff;
  padding:12px;
  border:0;
}

#forgot-password{
	font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.16px;
  color: #8a8a8a;
  text-decoration:underline;
}

#forgot-password:hover{
	text-decoration:underline;
	color:#8a8a8a;
}

#login-create-account-but{
	border-radius: 2px;
  border: solid 1px #1d1d1d;
  font-size: 16px;
  font-weight: 500;
  color: #1d1d1d;
  padding:12px;
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: #8a8a8a;
	font-size: 14px;
	margin: 8px 0px;
	margin-top:40px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: #eaeaea;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}

#orders-tabs{
	border-bottom:1px solid #1d1d1d;
}

#orders-tab{
	font-size: 18px;
	font-weight:normal;
	border:1px solid transparent;
	background:transparent;
}

#orders-tab:hover{
	border:1px solid transparent;
}

.cart_nodata, .wishlist_nodata, .donation_history_nodata, .linked_nodata{
	padding-top:100px;
	padding-bottom:100px;
}

#cancelled-tab{
	font-size: 18px;
	font-weight:normal;
	border:1px solid transparent;
	background:transparent;
}

#cancelled-tab:hover{
	border:1px solid transparent;
}

.orders-link.active{
	font-size: 15px !important;
  font-weight: 500 !important;
  letter-spacing: -0.26px;
  color: #111111 !important;
}

a.orders-link{
color: #8a8a8a;
	font-size: 15px !important;
	letter-spacing: -0.26px;
}

.order-detail-btn{
	border-radius: 2px;
  background-color: #4e4e4e;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  border: solid 1px #4e4e4e;
  padding:8px 30px;
}

.order-detail-id-wrap{
	margin-top:28px;
}

.order-detail-id{
	margin-bottom:0;
	font-size: 15px;
  font-weight: 500;
  color:#111;
}

.order-detail-list-wrap{
	margin-top:10px;
	padding:20px;
	border:1px solid #1d1d1d;
}

.order-detail-list-title{
	font-size: 16px;
  font-weight: 600;
  color: #111111;
}

.order-detail-list-content{
	font-size: 14px;
	color: #111111;
}


.tracking-bar {
      
  }
  .tracking-bar li {
      list-style-type: none;
      width: 25%;
      float: left;
      position: relative;
      text-align: center;
      color: #979797;
      font-size: 14px;
  	  font-weight: normal;
  }
  .tracking-bar li:before {
      width: 30px;
      height: 30px;
      content: '';
      line-height: 30px;
      border: 2px solid #e1e1e1;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: #e1e1e1;
  }
  .tracking-bar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #e1e1e1;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .tracking-bar li:first-child:after {
      content: none;
  }
  .tracking-bar li.active {
      font-size: 14px;
  font-weight: 600;
  color:#111;
  }
  .tracking-bar li.active:before {
      border-color: #1d1d1d;
      background-color:#1d1d1d;
  }
  .tracking-bar li.active + li:after {
      background-color: #1d1d1d;
  }


.shipping-tracking-title{
	font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.21px;
  color: #111111;
  padding:50px 20px 30px 20px;
  margin-bottom:0;
}

.shipping-tracking-wrap{
	padding:40px 0px 20px 0px;
}

.btn-password-send{
	font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.21px;
  color: #ffffff;
  padding:10px 30px;
  border-radius: 2px;
  background-color: #1d1d1d;

}

.error-title{
	margin-top:80px;
	font-size:40px;
	font-weight:600;
	color:#1d1d1d;
	text-align:center;
}

.error-subtitle{
	margin-top:10px;
	font-size:18px;
	text-align:center;
	color:#505050;
	letter-spacing: -0.24px;
}

.error-home-btn{
	font-size:16px;
	font-weight:500;
	color:#fff;
	background:#1d1d1d;
}

.error-wrap{
	position:absolute;
	top:50%;
	transform:translate(-50%, -50%);
	width:600px;
	left:50%;
}

#righters-list{
	margin-top:60px;
	padding-left:80px;
	padding-right:40px;
}
#righters-list li{
	display:inline-block;
	margin-right:30px;
	text-align:center;
}

#righters-list li:first-child{
	margin-left:0px;
}

#righters-list li p{
	font-size:15px;
	color:#121212;
}

#righters-popup-list{
	margin-top:30px;
	padding-top:20px;
	margin-bottom:0px;
	padding-left:180px;
	padding-right:180px;
	background:#fafafa;
}
#righters-popup-list li{
	display:inline-block;
	margin-right:30px;
	width:80px;
	text-align:center;
}

#righters-popup-list li img{
	max-width:100%;
}

#righters-popup-list li:first-child{
	margin-left:0px;
}

#righters-popup-list li p{
	font-size:12px;
	color:#121212;
	height:45px;
	overflow:hidden;
}

#brand-logo-list{
	margin-top:40px;
	padding-bottom:80px;
}

#brand-logo-list li{
	display:inline-block;
	width:20%;
	border:1px solid #ddd;
	box-sizing:border-box;
	height:96px;
	position:relative;
	float:left;
}

#brand-logo-list li.active{
	border:1px solid #030303;
}

#brand-logo-list li img{
	display:block;
	margin:0 auto;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	max-width:99%;
}

#right-category-wrap{
	border-radius:1px;
	border:1px solid #ddd;
	background:#fafafa;
}

#rights-category-list{
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:10px;
}

#rights-category-list li{
	display:inline-block;
	margin-left:30px;
}

#rights-category-list li a{
	color:#999;
	font-family:'BlackerText-Bold';
	font-size:18px;
}

#rights-category-list li a.active{
	border-bottom:2px solid #1D1D1D;
	color:#1d1d1d;
}

#brand-magazine-list{
	width:100%;
	border-top:1px solid #1d1d1d;
	border-bottom:1px solid #1d1d1d;
}
#brand-magazine-list tr td{
	font-size:18px;
	color:#1d1d1d;
	padding-top:12px;
	padding-bottom:12px;
	border-bottom:1px solid #DDD;
}

#brand-magazine-list tr td:hover{
	cursor:pointer;
}

#brand-magazine-list tr:last-child td{
	border-bottom:none;
}



.about-title{
	font-size:30px; text-align:center; padding-top:60px;
}

.about-subtitle{
	font-size:24px; font-weight:600; text-align:center;
}

.about-brand-title{
	font-weight:300; color:white; font-size:20px; text-align:center; margin-bottom:0; padding-top:15px; padding-bottom:15px;
}

@media (min-width: 1200px){
	.container {
	    max-width: 1280px;
	}
}




@media (max-width:767px){

	.check-out-success-wrap{
		width:100%;
		position:absolute;
		top:50%;
		left:0;
		transform:translateY(-50%);
	}

	.return-to-cart-btn {
		width:80%;

	}
	
	.main-bg{
		width:100%;
		background:url("../img/mobile/img-1.png");
		background-size:cover;
		background-position: center center;
		min-height:360px;
	}
	
	.mobile-main-title{
		font-size: 16px;
	  font-weight: 600;
	  letter-spacing: -0.34px;
	  color: #111111;
	}
	
	.main-notice-list p{
		font-size: 13px;
		font-weight: 300;
		margin-bottom:4px;
		color:#1d1d1d;
	}
	
	.main-myinfo-black{
		border-radius:3px;
		padding:15px;
		background:#2d2d2d;
	}
	
	.main-myinfo-black .myinfo-title{
		color:rgba(255,255,255,0.76);
		font-size: 13px;
		font-weight: 500;
		margin-bottom:4px;
	}
	
	.main-myinfo-black .myinfo-subtitle{
		color:#fff;
		font-size: 16px;
		font-weight: 600;
		margin-bottom:0;
	}
	
	.main-myinfo-gold{
		border-radius: 3px;
		background-color: #1d1d1d;
		padding:15px;
	}
	
	.main-myinfo-gold .myinfo-title{
		color:rgba(31, 31, 31,0.76);
		font-size: 13px;
		font-weight: 500;
		margin-bottom:4px;
	}
	
	.main-myinfo-gold .myinfo-subtitle{
		color: #1f1f1f;
		font-size: 16px;
		font-weight: 600;
		margin-bottom:0;
	}
	
	#main-mobile-donate-but{
		padding:10px;
		font-size: 14px;
	  font-weight: 500;
	  color: #ffffff;
	  background:#1d1d1d;
	  border-radius:2px;
	}
	
	#main-mobile-share-but{
		padding:10px;
		border-radius: 2px;
		background-color: #818181;
		font-size: 14px;
	  font-weight: 500;
	  color: #ffffff;
	}
	
	.main-mobile-bottom-wrap{
		padding:30px 15px;
		margin-left:-15px;
		margin-right:-15px;
		background:rgba(223, 181, 138, 0.2);
	}
	
	
	
	.main-text{
		font-size: 18px;
  font-weight: 500;
	}
	
	.main-text-content{
		font-size: 13px;
  font-weight: 300;
	}
	
	.main-banner-text{
		font-size: 18px;
  font-weight: 500;
  text-align:center;
	}
	
	.main-banner-text-small{
		font-size: 13px;
  font-weight: 300;
  padding:25px;
	}

	.main-banner-1{
		padding:60px 0px;
	}

	.main-banner-2{
		padding:60px 0px;
	}

	.main-banner-3{
		width:100%;
		padding-left:30px;
		padding-top:40px;
		padding-bottom:40px;
	}

	.main-banner-3-text{
		padding-top:120px;
		font-size: 18px;
	}

	.main-banner-3-text-small{
		font-size: 13px;
	}

.main-contact-us{
	font-size:18px;
}

.main-contact-us-content{
	font-size:13px;
}

.mobile-index-input-padding{
	padding-left:3.0rem;
	padding-right:3.0rem;
	padding-bottom:3.0rem;
}

.mobile-wrap{
	margin-top:48px;
	margin-bottom:48px;
}

.mobile-menu-top{
	position:fixed;
	width:100%;
	height:48px;
	top:0;
	background:white;
	z-index:1000;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.mobile-shop-menu-top{
	position:fixed;
	width:100%;
	top:0;
	background:white;
	z-index:1000;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.mobile-logo{
	text-align:left;
	padding:10px;
}

.mobile-logo img{
	width:32px;
	height:32px;
}

.mobile-menu-cart, .mobile-menu-back{
	font-size:24px;
	color:black;
	padding:10px;
}



.mobile-menu-cart:hover, .mobile-menu-back:hover{
	color:black;
}

.mobile-menu-bottom{
	position:fixed;
	width:100%;
	height:60px;
	bottom:0;
	background:white;
	z-index:1000;
	
}

.mobile-menu-bottom-wrap{
	display:inline-block;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
}

.mobile-bottom-menu-icon{
	color:#b8b8b8;
	font-size:18px;
	text-align:center;
	line-height:1.0;
	display:inline-block;
	padding:4px 8px 8px 8px;
}

.mobile-menu-left{
	position:absolute; left:0; top:4px;
}

.mobile-menu-right{
	position:absolute; right:0; top:4px;
}

.mobile-bottom-active{
	color:#1d1d1d;
}

.mobile-bottom-menu-icon:hover{
	color:#000;
}

.mobile-bottom-menu-icon i{
	text-align:center;
}

.mobile-bottom-menu-title{
	font-size:0.8rem;
	color:#b8b8b8;
	text-align:center;
}

.mobile-bottom-active .mobile-bottom-menu-title{
	color:#1d1d1d;
}

.mobile-logo p{
	font-size: 17px;
  font-weight: 500;
  text-align:center;
}


.impact-wrap{
	padding:0px 0px;
}

.impact-line{
	width:110px;
}

.impact-title{
	padding-top:40px;
	font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.37px;
  color: #111111;
}

.impact-text{
	font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #4a4a4a;
}

.impact-menu{
	height:50px;
	overflow-x:scroll;
	overflow-y:hidden;
	white-space: nowrap;
	-ms-overflow-style: none;	  
	  margin-top:20px;
  margin-bottom:20px;
    padding-top:10px;
box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);

}

.mobile-no-padding{
	padding:0;
}

.mobile-padding{
	padding-left:15px;
	padding-right:15px;
}

.impact-menu::-webkit-scrollbar { 
	    display: none !important;
	  }


.impact-menu li{
	display:inline-block;
padding:0;
}

.impact-menu li:first-child{
	padding:0;
}

.impact-menu li a{
	font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.52px;
  color: #8a8a8a;
  padding:10px 10px 16px 10px;

}

.impact-menu li a.active{
	font-weight:600;
	color: #111;
	border-bottom:2px solid #1d1d1d;
}

.mypage-wrap{
	width:100%;
	margin-top:80px;
}

.no-mt{
	margin-top:0;
}

.mobile-mypage-email{
	font-size: 14px;
  font-weight: 500;
  color:#111;
  margin-top:10px;
}

.mx-m-15{
	margin-left:-15px;
	margin-right:-15px;
}

.cart-wrap{
	width:100%;
	}
	
	.cart-table td{
		border-top:none;
	}
	
.cart-table tr:nth-child(odd){
	border-bottom:none;
}

.cart-qty-input{
	width:50px;
	padding-left:0px;
	margin-left:5px;
}

.cart-checkout-btn{
	float:none;
	display:block;
	width:100%;
	margin-top:30px;
}

.mobile-orders-link{
	padding:0;
	border:none !important;
}

#mobile-orders-tabs{
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
	border:none;
	height:50px;
}

.mobile-nav-item{
	padding:10px 0px;
	text-align:center;
}

.mobile-orders-link{
	font-size: 14px;
  font-weight: normal;
  color: #8a8a8a;
  padding:10px;
}

.mobile-orders-link.active{
	font-size: 14px;
  font-weight: 600;
  color:#111 !important;
  border-bottom: 2px solid #1d1d1d  !important;
}

.order-list-title{
	font-size:12px;
	color:#111;
	margin-bottom:3px;
}

.order-list-subtitle{
	font-size: 14px;
  font-weight: 600;
  color:#111;
  margin-bottom:20px;
}

.mypage-info-but{
	margin-left:0;
	margin-right:0;
}

.mobile-search-but{
	background:white;
	border:solid 1px #1d1d1d;
	border-left:none;
	height:40px;
}

.mobile-filter-but{
	width:40px;
	height:40px;
	border-radius: 2px;
	border: solid 1px #f1f1f1;
	background:white;
	margin-left:10px;
	line-height:40px;
}

.search-bar{
	width:230px;
	border:solid 1px #1d1d1d;
	border-right:none;
}

.shop-category-lnb{
	text-align:center;
}

.shop-category-lnb li{
	padding:14px 0px;
	padding-left:17px;
	padding-right:17px;
}

.shop-category-lnb li:first-child{
	padding-left:17px;
}

.shop-wrap{
	margin-top:160px !important;
}

.shop-sub-menu{
	background-color:#1d1d1d;
	margin-bottom:0;
	text-align:left;
}

.shop-sub-menu li a{
	font-size: 13px;
  font-weight: 500;
	padding:12px 17px;
	color:rgba(255,255,255,0.7);
}

.shop-sub-menu li{
	padding:10px 0px;
}

.shop-sub-menu li:first-child{
	padding-left:0px;
}

.shop-sub-menu li a.active{
	font-size: 13px;
  font-weight: 500;
	border-bottom:3px solid rgba(255,255,255,0.7);
	color:#fff;
}

.btn-shop-cart{
	background-color:#1d1d1d;
	color:white;
	font-size:10px;
	font-weight:500;
	padding:11px 5px 10px 5px;
	border:1px solid rgba(0,0,0,0);
}

.shop-content-title{
	font-size: 16px;
  font-weight: 600;
}

.shop-content-price{
	font-size: 15px;
  font-weight: 600;
}

.shop-content-text{
	font-size: 13px;
}
.shop-content-off{
	font-size:13px;
	font-weight:500;
}

.shop-content-share-title{
	font-size: 14px;
}
.shop-content-share-subtitle{
	font-size:12px;
}

.shop-content-wrap{
	margin-top:40px;
	margin-bottom:50px;
}

.checkout-wrap{
	width:100%;
}

.order-summary{
	margin-top:5rem;
	background:none;
}

.order-summary-wrap{
	padding:10px;
	background:rgba(230, 197, 164, 0.21);
	margin-bottom:20px;
}

.cart-table tr td:first-child{
	padding:0;
}

.cart-delete-btn{
	font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.17px;
  color: #979797;
  padding:3px 10px;
  background:white;
}

.cart-wishlist-btn{
	font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
    padding:3px 10px;
}

.linked-list-title{
	font-size:12px;
	color:#111;
	margin-bottom:5px;
}

.linked-list-subtitle{
	font-size: 12px;
  font-weight: 600;
  color:#111;
  margin-bottom:0;
}

.linked-wrap{
	width:100%;
}

.linked-table tr td:first-child{
	width:auto;
	padding:0px;
}

.linked-table-subtitle{
	margin-bottom:5px;
}

.donation-history-table-amount{
	text-align:left;
}

.order-second-row, .cart-second-row{
	padding-bottom:10px !important;
}

.linked-list-center{
	text-align:left;
}

.linked-list-right{
	text-align:left;
}

.mobile-mt-3{
	width:100%;
	margin-top:20px;
}

.tracking-bar li{
	font-size:11px;
}

.tracking-bar li.active{
	font-size:11px;
}

.tracking-bar {
      margin-top:5px;
  }
  .tracking-bar li {
      list-style-type: none;
      width: 25%;
      float: left;
      position: relative;
      text-align: center;
      color: #979797;
      font-size: 11px;
  	  font-weight: normal;
  }
  .tracking-bar li:before {
      width: 20px;
      height: 20px;
      content: '';
      line-height: 20px;
      border: 2px solid #e1e1e1;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: #e1e1e1;
  }
  .tracking-bar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #e1e1e1;
      top: 10px;
      left: -50%;
      z-index: -1;
  }
  
  .shipping-tracking-title{
  	padding:20px 0px;
  }
  
  
  .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  z-index: 1; /* Stay on top */
  background-color: rgba(0,0,0,0.5); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  position: fixed; /* Stay in place */
		    top: 0; /* Stay at the top */
	}
	
	.sidenav-wrap{
		  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
		background-color: #FFF; /* Black*/
		z-index: 2; /* Stay on top */
		width:0;
		height:100%;
	    position: fixed; /* Stay in place */
	    top: 0; /* Stay at the top */
		right: 0;
	}
	
	.sidenav-wrap-menu{
			  padding-top: 35px;
			  padding-left:30px;
	}
	
	hr.shop-category-hr-gold{
		width:90%;
	}
	
	hr.shop-category-hr-gray{
		width:90%;
	}
	
	.shop-category-filter-title{
		font-size:19px;
	letter-spacing: -0.24px;
	color:#111;
	font-weight:500;
	margin-bottom:10px;
	margin-top:10px;
	}
	
	.mobile-filter-but.active{
		border-radius: 2px;
		border: solid 1px #1d1d1d;
		background:#1d1d1d;
	}
	
	.btn-password-send{
		padding:10px 8px;
	}
	
	.error-wrap{
		width:80%;
	}
	
	.error-subtitle{
	margin-top:10px;
	font-size:14px;
}

	.mypage-right-grayline{
		border:none;
	}


	#main-righters-list{
		margin-top:20px;
		overflow: auto;
		overflow-y:hidden;
		overflow-x:scroll;
		white-space: nowrap;
	}
	#main-righters-list li{
		width:80px;
	}
	#main-righters-list li img{
		width:100%;
	}

	#main-step-list li:first-child{
		display:block;
		width:120px;
		margin:0;
		margin: 0 auto;
	}

	#main-step-list li{
		display:block;
		width:120px;
		margin:0;
		margin: 0 auto;

	}

	#main-step-list li img{
		width:100%;
	}

	#main-step-list{
		margin-top:60px;
	}



	#righters-list{
		margin-top:60px;
		padding-left:20px;
		padding-right:20px;
		text-align:center;
	}

	#righters-list li{
		width:25%;
		margin-right:10px;
	}

	#righters-list li:nth-child(3n){
		margin-right:0px;
	}

	#righters-list li img{
		width:100%;
	}

	#righters-list li p{
		font-size:10px;
	}

	.about-title{
		font-size:26px; text-align:center; padding-top:30px;
	}

	.about-subtitle{
		font-size:14px; font-weight:600; text-align:center;
	}

	.about-brand-title{
		font-weight:300; color:white; font-size:13px; text-align:center; margin-bottom:0; padding-top:8px; padding-bottom:8px;
	}

	#brand-logo-list li{
		width:33%;
	}

	#rights-category-list li{
		margin-left:10px;
	}

	#rights-category-list li a{
		font-size:12px;
	}

	#brand-magazine-list tr td{
		padding-left:10px;
	}


	
}